@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero{
    background: url("/images/chukauni.jpg") no-repeat center center/cover;
}